# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
-List popular languages for data science
-List commonly used libraries for data science
-Create a table of data science tools

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. NumPy
3. Pandas

|Data Science Tools|
----------
|Jupyter Lab|
|Jupyter Notebook|
|Watson Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Mia Dickinson